<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Renta de Vehículos</title>
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css" />
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">


</head>
<body>
     <nav class="navbar is-light " role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <div class="navbar-item">
     <h1 class="is-size-1 ">Renta de Vehículos</h1>
    </div>

  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item is-size-5" href="/car">
        Vehículos
      </a>

      <a class="navbar-item is-size-5" href="/client">
        Clientes
      </a>

 <a class="navbar-item is-size-5" href="/rent">
        Rentas
      </a>

</nav>
                <div class="container">

            {% block body %}{% endblock %}


</body>
</html>