{% extends 'view/layout.html' %}

{% block body %}
{% set client = data.client %}

<div class="container">
    <a href="/client" class="button is-link title">Go Home</a>

    <form method="POST" action="/client/save">

        <div class="field">
            <input class="input" type="hidden" value="{{client.id}}" name="id" readonly/>
        </div>


        <div class="field">
            <label class="label">Name</label>
            <input class="input" type="text" placeholder="Name" name="name" value="{{client.name}}" required />
        </div>

        <div class="field">
            <label class="label">Last Name</label>
            <input class="input" type="text" placeholder="lastName" name="lastName" value="{{client.lastName}}" required />
        </div>

        <div class="field">
            <label class="label">DNI</label>
            <input class="input" type="text" placeholder="DNI" name="DNI"  value="{{client.DNI}}" required />
        </div>

        <div class="field">
            <label class="label">Address</label>
            <input class="input" type="text" placeholder="Address" name="address" value="{{client.address}}" required />
        </div>

        <div class="field">
            <label class="label">Phone</label>
            <input class="input" type="text" placeholder="Phone" name="phone" value="{{client.phone}}" required />
        </div>

           <div class="field">
            <label class="label">Email</label>
            <input class="input" type="email" placeholder="Email" name="email" value="{{client.email}}" required />
        </div>

           <div class="field">
            <label class="label">Date Of Birth</label>
            <input class="input" type="text" placeholder="Birthday" name="birthday" value="{{client.birthday}}" required />
        </div>

        <div>
            <input type="submit" class="button is-primary is-light is-fullwidth" value="Submit" />
        </div>
    </form>
</div>
{% endblock %}