{% extends 'view/layout.html' %} {% block body %} {% for message in messages %}

<div class="container">
  <div class="notification is-success is-light is-size-4 has-text-centered">{{message}}</div>
</div>

{% endfor %} {% for error in errors %}

<div class="container">
  <div class="notification is-danger is-light is-size-5 has-text-centered">{{error}}</div>
</div>
{% endfor %}

<section class="hero">
  <div class="hero-body">
    <div class="has-text-centered has-text-black-ter">
      <h1 class="title is-size-3">Rent Index</h1>
    </div>
  </div>
</section>

<button class="button is-large is-link is-light">
  <a href="/rent/create">Manage New Rent</a>
  <span class="icon is-small">
    <i class="fas fa-exchange-alt"></i>
  </span>
</button>

<table class="table is-striped is-narrow is-hoverable is-fullwidth">
  <tr>
    <th>Id</th>
    <th>Car</th>
    <th>Client</th>
    <th>Price Per Day</th>
    <th>Since Date</th>
    <th>Ending Date</th>
    <th>totalPrice</th>
    <th>Payment Method</th>
  </tr>
  <tr>
    {% for rent in data.rentList %}
  </tr>

  <tr>
    <td>{{rent.id}}</td>
    <td>{{rent.CarId}}</td>
    <td>{{rent.ClientId}}</td>
    <td>{{rent.pricePerDay}}</td>
    <td>{{rent.startingDate}}</td>
    <td>{{rent.finishingDate}}</td>
    <td>{{rent.totalPrice}}</td>
    <td>{{rent.paymentMethod}}</td>
    <td><a href="/rent/edit/{{rent.id}}" class="button is-info is-fullwidth">Edit</a></td>
    <td><a href="/rent/delete/{{rent.id}}" class="button is-danger is-fullwidth">Delete</a></td>
  </tr>
  {% endfor %}
</table>

{% endblock %}
