{% extends 'view/layout.html' %}

{% block body %}
<div class="container">
    <a href="/" class="button is-link title">Go Home</a>

    <form method="POST" action="/car/save">

        <div class="field">
            <input class="input" type="hidden" placeholder="id" name="id"  required />
        </div>


        <div class="field">
            <label class="label">Brand</label>
            <input class="input" type="text" placeholder="Brand" name="brand" required />
        </div>

        <div class="field">
            <label class="label">Model</label>
            <input class="input" type="text" placeholder="Model" name="model" required />
        </div>

        <div class="field">
            <label class="label">Year</label>
            <input class="input" type="text" placeholder="address" name="year" required />
        </div>

        <div class="field">
            <label class="label">Kms</label>
            <input class="input" type="text" placeholder="Kms" name="kms" required />
        </div>

        <div class="field">
            <label class="label">Color</label>
            <input class="input" type="text" placeholder="Color" name="color" required />
        </div>

        <div class="field">
            <label class="label">Has Air condioning?</label>
            <label>
                <input type="radio" class="" name="air_conditioning" value="yes">
                Yes
            </label>
            <label>
                <input type="radio" class="" name="air_conditioning" value="no">
                No
            </label>
        </div>

        <div class="field">
            <label class="label">Number of passengers</label>
            <input class="input" type="number" placeholder="Number of pax" name="passengers" required />
        </div>

        <div>
            <input type="submit" class="button is-primary is-light is-fullwidth" value="Submit" />
        </div>
    </form>
</div>
{% endblock %}