{% extends 'view/layout.html' %}

{% block body %}
{% set car = data.car %}

<div class="container">
    <a href="/" class="button is-link title">Go Home</a>

    <form method="POST" action="/car/save">

        <div class="field">
            <input class="input" type="hidden" value="{{car.id}}" name="id" readonly/>
        </div>


        <div class="field">
            <label class="label">Brand</label>
            <input class="input" type="text" placeholder="Brand" name="brand" value="{{car.brand}}" required />
        </div>

        <div class="field">
            <label class="label">Model</label>
            <input class="input" type="text" placeholder="Model" name="model" value="{{car.model}}" required />
        </div>

        <div class="field">
            <label class="label">Year</label>
            <input class="input" type="text" placeholder="address" name="year"  value="{{car.year}}" required />
        </div>

        <div class="field">
            <label class="label">Kms</label>
            <input class="input" type="text" placeholder="Kms" name="kms" value="{{car.kms}}" required />
        </div>

        <div class="field">
            <label class="label">Color</label>
            <input class="input" type="text" placeholder="Color" name="color" value="{{car.color}}" required />
        </div>

        <div class="field">
            <label class="label">Has Air conditioning?</label>
            <label>
                <input type="radio" class="" name="airConditioning" value="yes" required>
                Yes
            </label>
            <label>
                <input type="radio" class="" name="airConditioning" value="no" required>
                No
            </label>
        </div>

        <div class="field">
            <label class="label">Number of passengers</label>
            <input class="input" type="number" placeholder="Number of pax" name="passengers" value="{{car.passengers}}" required />
        </div>

        <div>
            <input type="submit" class="button is-primary is-light is-fullwidth" value="Submit" />
        </div>
    </form>
</div>
{% endblock %}