{% extends 'view/layout.html' %} {% block body %}


<a class="button is-large is-link is-light" href="/car/create">Add new Car</a>

<table class="table is-striped is-narrow is-hoverable is-fullwidth ">
  <tr>
    <th>Id</th>
    <th>Brand</th>
    <th>Model</th>
    <th>Year</th>
  <th>Kilometers</th>
    <th>Color</th>
    <th>Air Conditioning</th>
    <th>Number of Passengers</th>
  </tr>
  <tr>
      {% for car in data.cars %}

  <tr>
    <td>{{car.id}}</td>
    <td>{{car.brand}}</td>
    <td>{{car.model}}</td>
    <td>{{car.year}}</td>
     <td>{{car.kms}}</td>
    <td>{{car.color}}</td>
    <td>{{car.airConditioning}}</td>   <!-- Works in air_conditioning .... -->
    <td>{{car.passengers}}</td>
    <td><a href="/car/edit/{{car.id}}" class="button is-info is-fullwidth">Edit</a></td>
    <td><a href="/car/delete/{{car.id}}" class="button is-danger is-fullwidth">Delete</a></td>
  </tr>
  {% endfor %}

</table>

{% endblock %}
