{% extends 'view/layout.html' %} {% block body %}

<h1 class="title">Index in construction</h1>

<a class="button" href="/car/create">Add new Car</a>

<table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
  <tr>
    <th>Id</th>
    <th>Brand</th>
    <th>Model</th>
    <th>Year</th>
  <th>Kilometers</th>
    <th>Color</th>
    <th>Air Conditioning</th>
    <th>Number of Passengers</th>
  </tr>

  <tr>
    <td>Id</td>
    <td>Brand</td>
    <td>Model</td>
    <td>Year</td>
  <td>Kilometers</td>
    <td>Color</td>
    <td>Air Conditioning</td>
    <td>Number of Passengers</td>
  </tr>

</table>

{% endblock %}
