{% extends 'view/layout.html' %} {% block body %}

  {% for message in messages %}
    <div class="container">
  <div class="notification is-success is-light is-size-4 has-text-centered">
   {{message}}
  </div>
</div>
  {% endfor %}

{% for error in errors %}
    <div class="container">
  <div class="notification is-danger is-light is-size-5 has-text-centered">
   {{error}}
  </div>
</div>
  {% endfor %}

  <section class="hero">
  <div class="hero-body">
    <div class="has-text-centered has-text-black-ter">
      <h1 class="title is-size-3 ">
        Car Index
      </h1>
    </div>
  </div>
</section>


<a class="button is-large is-link is-light" href="/car/create">Add new Car</a>

<table class="table is-striped is-narrow is-hoverable is-fullwidth">
  <tr>
    <th>Id</th>
    <th>Brand</th>
    <th>Model</th>
    <th>Year</th>
    <th>Kilometers</th>
    <th>Color</th>
    <th>Air Conditioning</th>
    <th>Number of Passengers</th>
  </tr>
  <tr>
      {% for car in data.cars %}

  <tr>
    <td>{{car.id}}</td>
    <td>{{car.brand}}</td>
    <td>{{car.model}}</td>
    <td>{{car.year}}</td>
     <td>{{car.kms}}</td>
    <td>{{car.color}}</td>
    <td>{{car.airConditioning}}</td>
    <td>{{car.passengers}}</td>
    <td><a href="/car/edit/{{car.id}}" class="button is-info is-fullwidth">Edit</a></td>
    <td><a href="/car/delete/{{car.id}}" class="button is-danger is-fullwidth">Delete</a></td>
  </tr>
  {% endfor %}

</table>

{% endblock %}
